<h1>Get directions</h1>

<p>Please select a starting point and ending point from the lists below.</p>

<%= render :partial => 'form' %>

 <div id="map" style="width: 425px; height: 240px"></div>
	<div id="directions"></div>
