<section id="get-directions">
	<header> <h1>Get directions</h1></header>
	<p>Please select a starting point and ending point from the lists below.</p>
</section>
<%= render :partial => 'form' %>

 
	<div id="directions"></div>
