<ul class="skiplinks" id="skiplinks">
<li><a href="#content">Jump to Content</a></li>
<li><a href="#section_nav">Jump to Section Navigation</a></li>
<li><a href="#site_nav">Jump to Site Navigation</a></li>
<li><a href="#footer">Jump to Footer</a></li>
</ul>